<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

<h1>이장헌의 방명록입니다. 환영합니다. 5.19입니다</h1>
<hr>
<hr>

<table class="table">
	<thead class="table-dark">
		<tr>
			<th>🔢</th>
			<th>제목</th>
			<th>작성일시</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="question, loop : ${questionList}">
			<td th:text="${loop.count}"></td>
			<td><a th:href="@{|/question/detail/${question.id}|}"
				th:text="${question.subject}"></a></td>
			<td th:text="${question.createDate}"></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>